<header id="Header" class="bground">
    
    <nav class="navHeader navbar navbar-expand-lg navbar-dark">
        <div class="container forMArginn">
            <div class="first-content">
                <a class="navbar-brand" routerLink='home'>SW<span class="SWVLV">V</span>L<i class="iconnn fa-solid fa-copyright"></i></a>
            </div>
            <button class="navbar-toggler btnset" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="second-content collapse btnsetAction navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ull">
                    <li class="active navSpanOne"><a routerLink='home'>HOME</a></li>
                    <li class="navSpanTwo"><a routerLink='daily'>DAILY</a></li>
                    <li><a href="#hotels">TRAVEL</a></li>
                    <li><a href="#hotels">PRIVATE BUS</a></li>
                    <li><a href="#packages">BUSINESS</a></li>
                    <li><a href="#packages">CAPTIANS</a></li>
                    <li><a href="#Offers">PEOPLE</a></li>
                    <li><a href="#hotels">INVESTORS</a></li>
                    <li><a href="#hotels">APP</a></li>
                    <li><a href="javascript:void(0)" class="dropbtn">
                         English <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <a href="#">Arabic</a>
                            <a href="#">English</a>
                            <a href="#">Spain</a>
                        </div>
                    </li>
                </ul>
                <div class="links">
                    <span class="icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </div>
        </div>
    </nav>
    <section class="max-cont">
        <div class="cont">
            <button class="btn-down">DOWNLOAD</button>
        </div>
    </section>
</header>

